# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-*
.idea/workspace.xml
out/*
test/out*
.vs/top/v17
CMakeFiles
x64/Release
x64
libcron/include/libcron/.vshistory
libcron/.vshistory
libcron/src/.vshistory
test/.vshistory
libcron/libcron.dir/Release
libcron/libcron.dir
libcron/out
.vs/top/FileContentIndex
*.tlog
*.log
